<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net47" />
  <package id="jQuery" version="1.9.1" targetFramework="net47" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.7" targetFramework="net47" />
  <package id="Microsoft.Net.Compilers" version="2.1.0" targetFramework="net47" developmentDependency="true" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net47" />
  <package id="Microsoft.Office.js" version="1.1.0.13" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net47" />
  <package id="OfficeUIFabric" version="2.1.0" targetFramework="net47" />
  <package id="System.IO" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net47" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net47" />
</packages>